<% if @micropost.liked_by?(current_user) %>
    <p>
        <%= link_to micropost_likes_path(@micropost), class: 'btn', method: :delete, remote: true do %>
            <i class="fas fa-heart unlike-btn"></i> <!-- いいねされた後のボタン-->
        <% end %>
    </p>
<% else %>
    <p>
        <%= link_to micropost_likes_path(@micropost), class: 'btn', method: :post, remote: true do %>
            <i class="far fa-heart like-btn" ></i>
        <% end %>
    </p>
<% end %>
