<p>ユーザー一覧</p>
<div>
  <% @users.each do |user| %>
  <table>
    <tr>
      <td><%= link_to attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", class: "rounded-circle" %></td>
      <td><%= user.name %></td>
      <td><%= link_to '詳細', user_path(user) %></td>
    </tr>
  </table>
  <% end %>
</div>