<div class="container">
  <div class="row mx-auto ">
    <div class="col-12 d-flex justify-content-center">
      <%= image_tag("logo.jpg", class: "main-visual__logo") %>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <h1 class="main-visual__catch-copy m-5">みんなの「困った」をシェアしよう！</h1>
    </div>
  </div>
</div>